package view_index

import "github.com/harrisbisset/go-aws/pkg/dev/render/views/view_layout"

templ Show() {
	@view_layout.Meta() {
		<div
 			hx-get="/listInstances"
 			hx-target="this"
		></div>
	}
}
